.log-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    max-width: 100%;
    min-height: 80vh;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template: 1fr 10fr / 1fr 5fr .5fr;
}