.entered-tag-body {
    border: 2px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #167990;
    gap: .5rem;
    padding: .25rem;

}
/*
#167990; blue
#212529; dark
    width: 50px;   
    height: 50px;
    margin: .25rem;
 */
.entered-tag-delete {
    color: red;
    display: flex;
    align-items: center;
}
.entered-tag-delete:hover {
    cursor: pointer;
}

.entered-tag-label {
    font-size: 15px;
    color: white;
}