/*
.CalorieDisplay{
    background-color: white;
    margin-left: .25rem;
    margin-right: .25rem;
    width: 8rem;
    height: 6rem;
    float: right;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
*/
  .CalorieDisplay {
    margin-left: .5rem;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-bottom: none;
  }