
.CalorieBar{
    background-color: lightblue;
    border-radius: 4px;
    border: 1px solid grey;
  }
  
  .CalorieDisplay {
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 4px;
    padding: 0px;

  }
  
  .bar-grid {
    display: grid;
    grid-template-rows: .5fr 8fr;
  }