
  body {
    background: #A0C3D2;
    width: 100%;
    height: 100%;
  }

  h1 {
    color: white;
    padding: 5px;
    font-size: 60px;
    font-weight: 200;
  }
  
  .container {
    margin: 10% auto;
    text-align: center;
  }

  input {
    border-radius: 5px;
    padding: 10px 15px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
  }

  button {
    border-radius: 5px;
    text-align: center;
    margin: 0 10px 10px 10px;
    padding: 8px 10px;
    background-color: #F7F5EB; /* Green */
    width: 12em;
}
