.account-container {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 9fr;
}

.bars {
    background-color: #060b26;
    position: relative;
    left: -75%;
    transition: 850ms;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.bars.active {
    position: relative;
    left: 0%;
    transition: 350ms;
    background-color: #060b26;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.menu-bars {
    position: sticky;
    left: 14px;
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
    padding-top: 5px;
    padding-right: 6px;
}

.menu-bars.active {
    position: sticky;
    font-size: 2rem;
    color: white;
    transition: 1000ms;
    padding-top: 5px;
}

.sidebar {
    background-color: #060b26;
    height: 100%;
    position: relative;
    top: 0;
    left: -75%;
    transition: 850ms;
    color: transparent

}

.sidebar.active {
    left: 0%;
    transition: 350ms;
}

.nav-text {
    list-style: none;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    padding-top: 0px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    user-select: none;
    width: 100%;
}

.nav-text a:active {
    color: black;
    background-color: black;

}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.9;
  }

.disabled a {
    color: transparent;
    transition: .5s;
    user-select: none;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.side-menu-items {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
    padding-left: 0px;
    
}

span {
    margin-left: 8px;
    text-align: center;
}



