
.searchIcon {
    display: grid;
    place-items: center;
    padding-right: 8px;
    padding-left: 8px;
    background-color: inherit;
    border: 2px solid #167990;
    border-left: none;
    color: #167990;
}

.searchInputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding-left: 15px;
    border: 2px solid #167990;
    border-right: none;
    background-color: inherit;
    font-size: 18px;
    color: #167990;
    height: 35px;
 
}

.search-input:focus::placeholder {
    color: transparent;
}

.search-hover-border {
    display: flex;
    justify-content: center;
    margin-right: .25rem;
    border: 2px solid transparent;
}

.search-hover-border:hover, 
.search-hover-border:focus-within{
    border: 2px solid aqua;
    border-radius: 3px;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: #167990;
    opacity: 1;
}

.search {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}