.nav {
  background-color: #82AAE3;
  color: white;
  display: flex;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  justify-content: space-between;
}

.site-title {
  font-size: 1.25rem;
  font-family: 'Mochiy Pop One', sans-serif;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}
