.h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    color: white
}

.infoblock {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
    padding: 10px;
    justify-content: center;
    color: white;
    grid-column: 2 / span 1
}

.label {
    text-align: center;
    float: left;
    color: white;
    grid-column: 1 / span 1
}

.form {
    grid-column: 1 / span 3;
}

.form label {
    grid-column: 1 / span 3;
    margin-top: 10px;
    margin-right: 10px;
}

.form input {
    color: black;
    margin-right: 10px;
}

.form button {
    border-radius: 4px;
    text-align: center;
    padding: 8px 10px;
    background-color: #ADA2FF;
    width: 6em;
    color: black;
    font-weight: 500;
}

.form button:hover {
    cursor:pointer;
    background-color: #988bfa;
}

