/*.UserItem{
    display: flex;
    flex: 1 0 calc(20% - 10px);
    max-width: calc(24% - 10px);
    flex-direction: column;
    align-content: center;
    text-align: center;
    background-color: blueviolet;
    padding: .5em;
    margin: .5em;
    max-height: 6em;
    width: 6em;
  }
  */
/* .card {
  border: 1px solid gray;
  background-color: white;
  padding: .5rem;
}

.header {
  margin-bottom: .25rem;
  font-size: .9rem;
}

.body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
} */

/*
//background-color:#212529; black
//background-color:#167990; blue
*/
.card {
  /*  border: 1px solid gray;
   background-color: white; */
   display: flex;
   flex-direction: column;
   background-color: #5e666f;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   /*
   border: 3px solid #167990;
   border-radius: .5em;
   */
   padding: 3px 3px 3px 3px;
 }
 
 .card:hover{
   filter:brightness(85%);
   cursor: pointer;
 }
 
 .header {
   color:skyblue;
   font-size: 1em;
   font-weight:bold;
   align-self: flex-start;
   margin: auto;
   margin-left: .25em;
   margin-bottom: .25em;
 }
 
 .body {
   display: block;
   color: lightsalmon;
   font-weight: bold;
   align-self:flex-end;
 }
 
 .hide {
   display: none;
 }
/*
 .card-hover-border {
  border: 2px solid transparent;
 }
 .card-hover-border:hover {
    border: 2px solid aqua;
    border-radius: .5em;
 }
 */