h1 {
    display: flex;
    justify-content: center;
  }
  .MenuBar{
    display: grid;
    grid-template: 5em/1fr 1fr 10fr 1fr;
    background-color: #029AB6;
    margin-left: 1em;
    margin-right: 1em;
  }
  .MenuButton{
    background-color: #029AB6;
  }
  .MenuButton:hover{
    filter: brightness(90%);
  }
  .CalorieBar{
    display: grid;
    margin-left: 1em;
    margin-right: 1em;
    min-width: 4em;
    justify-content: center;
    border: 2px solid;
    border-color: black;
    background-color: #20EE85;
  }
  .Dashboard{
    display: grid;
    min-height: 90vh;
    grid-template:  1fr 9fr 1fr/ 9fr 1fr;
    margin: 1em;
  }
  .ItemContainer{
    background-color: #00C661;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .ItemBar{
    background-color: #4AE500;
  }
  .CalorieDisplay{
    background-color: blue;
    margin: .2em;
  }
  .UserItem{
    display: flex;
    flex: 1 0 calc(20% - 10px);
    max-width: calc(24% - 10px);
    flex-direction: column;
    align-content: center;
    text-align: center;
    background-color: blueviolet;
    padding: .5em;
    margin: .5em;
    max-height: 6em;
    width: 6em;
  }