.calorie-bar-item-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
   
}

.qty-icon-container {
    display: flex;
    align-items: center;
    
}
.delete-cal-bar-item {
    color: red;
    margin-right: .25rem;
}